<!-- About Section Start -->
<div class="main">
    <div class="container">
        <div class="profile-wrapper">
            <div> 
                <img class = "imgPerfil" src="../../../assets/ImagenYo2.jpeg">
            </div>
            <div class="btn-group-vertical">
                <button class ="btn btn-common">aaaaaaaa</button>
                <button class ="btn btn-common">aaaaaaaa</button>
                <button class ="btn btn-common">aaaaaaaa</button>
            </div>
        </div>
    </div>
</div>

  <!-- About Section End -->

  