<!-- About Section Start -->
<div class="main">
    <div class="container">
        <div class="profile-wrapper">
            <div class="divTitulo">
                <p class="titulo">Aciertos: {{contador}}</p>
            </div>
            <div>
                <img *ngIf="juegoPerdido"  class = "imgPerfil" src="../../../assets/perdiste.gif">
                <img *ngIf="!juegoPerdido"  class = "imgPerfil" src={{this.paisBandera.imagen}}>
            </div>
            <div class="btn-group-vertical">
                <button *ngIf="juegoPerdido; else optionsBlock" class ="btn btn-common" (click)="Reiniciar()"> Reiniciar! </button>
                <ng-template #optionsBlock>
                    <button class ="btn btn-common" (click)="Intento(0)">{{paisesElegidos[0].pais}}</button>
                    <button class ="btn btn-common" (click)="Intento(1)">{{paisesElegidos[1].pais}}</button>
                    <button class ="btn btn-common" (click)="Intento(2)">{{paisesElegidos[2].pais}}</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>

  <!-- About Section End -->

  