<!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class = "imgPerfil" src="../../../assets/ImagenYo2.jpeg">
          </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
            <h3>Hola!</h3>
            <p class="bienvenida">Bienvenidos a mi pagina de juegos! Espero que puedan disfrutar de esta experiencia</p>
            <div class="about-profile">
              <ul class="admin-profile">
                <li><span class="pro-title"> Nombre </span> <span class="pro-detail">Agustin Clas</span></li>
                <li><span class="pro-title"> Edad </span> <span class="pro-detail">20 Años</span></li>
                <li><span class="pro-title"> Experiencia </span> <span class="pro-detail">Poco comprobable</span></li>
                <li><span class="pro-title"> Pais </span> <span class="pro-detail">Argentina</span></li>
                <li><span class="pro-title"> Ubicacion </span> <span class="pro-detail">Lanus, Buenos Aires</span></li>
                <li><span class="pro-title"> correo </span> <span class="pro-detail">agustinclasst@gmail.com</span></li>
                <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Disponible
                </span></li>
              </ul>
            </div>
            <a class="btn btn-common" href="../../../assets/AgustinClasCV.pdf" download="AgustinClasCV">
              <i class="icon-paper-clip"></i> Descargar CV
            </a>
          </div>
        </div>   
      </div>
    </div>
  </section>

  <!-- About Section End -->

  