<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <img class = "tituloImg" src="../../../assets/juegosPNG.png">
    </div>
    
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Ahorcado</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <img src="../../../assets/ahorcado.gif">
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink ='/ahorcado'>Jugar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" >Mayor o menor</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <img src="../../../assets/giphy.gif">
                    </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/mayor-menor">Jugar</button>
                </div>
            </div>
            
<div class="card mb-4 shadow-sm" id="tarjeta">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Trivia</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <img class= "imgTrivia" src="../../../assets/preguntados.gif">
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink ='/trivia'>Jugar</button>
    </div>
</div>
  </div>
</div>
</body>