<router-outlet></router-outlet>
<div class="main">
    <div class="row"> 
        <div class="colm-form">
            <div class="form-container">
                <img  id="logo" src="../../../assets/Logo2.png">
                <p  *ngIf="errorRegistro === true" class = "pError">Error al registrarse</p>
                <input type="text" placeholder="Email" [(ngModel)] = "email">
                <input type="password" placeholder="Contraseña" [(ngModel)] = "password">
                <input type="password" placeholder="Confirmar contraseña" [(ngModel)] = "passwordConf">
                <input type="button" class="btn-new" (click)="registrar()" value="Registrarse" >
            </div>
        </div>
    </div>
</div>
    
