<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <div class="row"> 
            <div class="colm-form">
                <div class="form-container">
                    <img  id="logo" src="../../../Logo2.png">
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Contraseña">
                    <input type="button" class="btn-login" click="" value="Iniciar Sesion">
                    <a routerLink ='RestablecerContraseña'>¿Olvidaste tu contraseña?</a>
                    <input type="button" class="btn-new" click="" value="Registrarse">
                </div>
            </div>
        </div>
        
    </main>
</body>
</html>