<div class="main"> 
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <button class="buttonMM" (click)="Apostar(0)" [disabled]="bloqueo">
                        <img src="../../../assets/flechaAbajo5.png" class="imgFlecha">
                    </button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <div class="randomNumber">
                        <div class="divAciertos"> 
                            <p class="pAciertos">Aciertos</p>
                        </div>
                        <div class="divContador">
                            <p class="contadorAciertos">{{contadorAciertos}}</p>
                        </div>
                    </div>
                    <div class="randomNumber">
                        <p *ngIf = "juegoActivo" class="textRandom">{{randomActual}}</p>
                        <div class="divGif" *ngIf="juegoActivo === false">
                            <img  src="../../../assets/perdiste.gif" class="imgGif">
                        </div>
                    </div>
                    <div class="divReiniciar">
                        <button (click)="reiniciar()" class="buttonReiniciar">Reiniciar</button>
                    </div>
                </div>
            </div>
            
            <div class="card mb-4 shadow-sm" id="tarjeta">
                <div class="card-body">
                    <button class="buttonMM" (click)="Apostar(1)" [disabled]="bloqueo">
                        <img src="../../../assets/flechaArriba5.png" class="imgFlecha">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>    