.card-deck{
    padding-top: 10px;
}

.imgFlecha{
    
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;

}

.imgGif{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
}

.divGif{
    height: 80%;
}

.randomNumber{
    height: 40%;
    font-size: 100%;
    color: aqua;
}

.textRandom{

    text-align: center;
    justify-content: center;
    position:flex;
    height: 80%;
    font-size: 6rem;
}

.divAciertos{
    height: 20%;
    border: 2px solid rgb(238, 30, 145);
    background-color: aqua;
    font-size: 100%;
}

.pAciertos{
    background-color: aqua;
    color: #eeeeee;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    color: rgb(238, 30, 145);
}

.divContador{
    height: 60%;
    border: 2px solid rgb(238, 30, 145);
    background-color: aqua;
    font-size: 100%;
    color: rgb(238, 30, 145);
    
}
.contadorAciertos{
    margin: auto;
    font-size: 3rem;
}

.card{
    width: 100%;
}

.buttonMM{
    background-color: aqua;
}

.divReiniciar{
    
    height: 16%;
}

.buttonReiniciar{
    background-color: aqua;
    color: #eeeeee;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: rgb(238, 30, 145);
}